@model AuthorViewModel;

@{
    ViewData["Title"] = "An Author";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name </h1>  
    @if(string.IsNullOrEmpty(Model.PhotoUrl))
    {
        <p>No Cover Photo Set</p>
    }
    else
    {
        <img src="@Model.PhotoUrl" alt=@Model.Name>
    }

    @if(string.IsNullOrEmpty(Model.BirthYear.ToString()))
    {
        <p>No Birth Year Available</p>
    }
    else
    {
        <p>Year of birth: @Model.BirthYear</p>
    }

    @if(string.IsNullOrEmpty(Model.Bio))
    {
        <p>No Bio Available</p>
    }
    else
    {
        <p>@Model.Bio</p>
    }
    
</div>
