@model List<AuthorViewModel>;
@{
    ViewData["Title"] = "Authors";
}

<div class="text-center">
    <h1 class="display-4">Authors</h1>
    <ul>
        @foreach( var author in Model )
        {
            <li>
                <a 
                asp-controller="Author" 
                asp-action="Author"
                asp-route-authorid="@author.AuthorId">
                    @author.Name
                </a>
            </li>
        }
    </ul>
    
</div>
