@model UserViewModel;

@{
    ViewData["Title"] = "A User";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name </h1>  
    @if(string.IsNullOrEmpty(Model.Email))
    {
        <p>No Email Set</p>
    }
    else
    {
        <p>email address: @Model.Email</p>
    }

    @if(string.IsNullOrEmpty(Model.DateSignedUp.ToString()))
    {
        <p>No Date Signed Up Available</p>
    }
    else
    {
        <p>Date Signed Up: @Model.DateSignedUp.ToString()</p>
    }

    
</div>
