@model List<BookViewModel>;
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">List of books</h1>
    <ul>
        @foreach( var book in Model )
        {
            <li>
                <a 
                asp-controller="Book" 
                asp-action="Book"
                asp-route-isbn="@book.Isbn">
                    @book.Title
                </a>
            </li>
        }
    </ul>
</div>
