@model List<BookViewModel>;
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">List of books</h1>
    @foreach( var book in Model ){
        <p>@book.Title</p>
    }
</div>
